a {
    text-decoration: none;
    color: #000;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* header start */

header {
    width: 100%;
    background: #fff;
    height: 80px;               
    display: flex;
    align-items: center;
    border-bottom: 2px solid #eee;
}

header .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    max-height: 60px;            
}

header .navi {
    display: flex;
    align-items: center;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 99;
}

.navi ul li {
    position: relative;  
}

.navi ul li > a {
    padding: 10px;
    font-size: 20px;
    display: block;
    text-align: center;
    transition: 0.2s;
}

.navi ul li:hover > a {
    background: #6ac3ff;
    color: #fff;
    border-radius: 4px;
    width: 150px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%); 
    min-width: 200px;
    display: none;
    background: #fff;
    padding: 5px 0;
    border-radius: 4px;
}

.submenu a {
    display: flex;             
    align-items: center;       
    justify-content: center;  
    padding: 10px 0;
    width: 100%;
    transition: 0.2s;
    font-size: 16px;
    text-align: center;
}

.submenu a:last-child {
    border-bottom: none;
}

.submenu a:hover {
    background: #6ac3ff;
    color: #fff;
}

/* header end */

/* footer start */
footer {
    background-color: #333;
    color: #fff;
}

footer .container {
    flex-wrap: wrap-reverse;
    padding: 10px 20px;
}
footer p {
    padding: 10px 0;
}
footer a {
    color: #fff;
}
.sd {
    font-weight: 600;
}
footer a:hover {
    font-weight: bold;
}
/* footer end */


@media (max-width: 767px) {

    .logo img {
        width: 200px;
    }
    
    .navi ul {
        display: none;
    }

    .mobile {
        display: flex !important;
        flex-direction: column;
    }

    .mobile.active .menu {
        display: block;
        position: absolute;
        top: auto;
        right: auto;
        background-color: #ffffffad;
        padding: 5px;
        z-index: 10;
    }
    
    footer {
        font-size: 15px;
    }
}

.mobile>i {
    font-size: 32px;
    position: relative;
}

.mobile .menu i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mobile .menu a {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 1rem;
}

.main-menu {
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.mobile .menu {
    padding: 10px;
    background-color: #ffffffe0;
    position: absolute;
    top: 60px;
    left: 9px;
    width: 100%;
    display: none;
    border-bottom: 1px solid #ddd;
}

.mobile ul {
    margin-top: 20px;
}

.mobile .submenu {
    display: none; 
    position: static;
    font-size: 1rem;
    margin-left: 50%;
    width: 100%; 
    background-color: #ffffff00;
}

.main-menu {
    border-bottom: 1px solid #383838;
}

.mobile .submenu a {
    display: flex;
    justify-content: space-between;
}