/* 헤더 배경 */
header {
    background-color: #000;
    color: #fff;
}

/* a 태그 기본 스타일 */
header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #fff;
    text-decoration: underline;
}

.divider {
    display: inline-block; /* 블록 요소처럼 취급되도록 설정 */
    width: 1px; /* 선의 너비 */
    height: 12px; /* 선의 높이 */
    background-color: #fff; /* 흰색 */
}

/* 로그인/회원가입 */
.auth-links {
    display: flex;
    justify-content: space-between; /* 양쪽에 배치 */
    align-items: center;
    gap: 20px;
}

/* 네비 시작 */

.nav-bg {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* 네비게이션 내부 */
.nav {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 0 15px;
    max-width: 1320px; /* 최대 너비를 1320px로 제한 */
    margin: 0 auto; /* 중앙 정렬 */
    width: 100%; /* 너비를 100%로 설정 */
}

/* 로고 */
.nav .logo {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

/* 메뉴 */
.nav .menu {
    display: flex;
    margin-left: auto; /* 오른쪽 정렬 */
    gap: 30px;
}

.nav .menu a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    transition: color 0.2s;
}

.nav .menu a:hover {
    color: #007bff; /* 호버 색상 */
}

/* 네비 끝 끝 */