nav a {
    text-decoration: none;
    color: #000;
}
.logo {
    padding: 15px;
}
.logo img {
    max-height: 50px;
    width: 100%;
}
.container {
    max-width: 1340px;
    align-items: center;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
header {
    display: flex;
    border-bottom: 1px solid #ddd;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 999999;
}
.sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    display: none;
}
.sub-bg {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: -100;
    height: 400px;
}
.sub-menu a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.login * {
    display: inline-block;
    color: #666;
    padding: 5px;
    font-size: 1rem;
}
.nav {
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    align-items: end;
}
.navi {
    font-weight: bold;
    width: 100%;
}
.navi li {
    display: block;
    flex: 1;
    text-align: center;
    position: relative;
    padding: 15px 0;
}
.login a:hover {
    text-decoration: underline;
}