nav a {
    text-decoration: none;
    color: #000;
}
.logo {
    padding: 15px;
}
.logo img {
    max-height: 50px;
}
.container {
    max-width: 1340px;
    align-items: center;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: center;
    width: 100%;
}
.navi {
    width: 100%;
}
.navi a {
    display: block;
    flex: 1;
    text-align: center;
}
.login * {
    display: inline-block;
    color: #666;
    padding: 5px;
    font-size: 1rem;
}
.nav {
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    align-items: end;
}
.navi {
    font-weight: bold;
}
.login a:hover {
    text-decoration: underline;
}