/* init */
:root {
    --maincolor: #0076bc;
}

body {
    font-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
/* init */
.container {
    max-width: 1340px;
    --bs-gutter-x: 0;
}

button {
    background: none;
    border: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.align-center {
    justify-content: center;
    align-items: center;
}

.color-main {
    color: var(--maincolor);
}

.bgcolor-main {
    background-color: var(--maincolor);
}

header {
    display: flex;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 999999;
    padding: 15px;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
    width: 100%;
    object-fit: contain;
}

.navi {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: end;
    justify-content: space-between;
}

.login {
    margin: 10px;
}

.login * {
    color: #666;
    font-size: 1rem;
}

.login a:hover {
    text-decoration: underline;
}

.menu {
    font-weight: bold;
    width: 100%;
    display: flex;
}

.desktop .menu li>a {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #000;
}

.desktop .menu li:hover>a::after {
    transform: scaleX(100%);
}

.desktop .menu li>a::after {
    content: '';
    position: absolute;
    background-color: var(--maincolor);
    left: 0;
    top: 100%;
    width: 100%;
    transform-origin: center;
    transform: scaleX(0%);
    height: 3px;
    transition: 0.3s;
}

.desktop .menu li {
    display: block;
    padding-bottom: 5px;
    flex: 1;
    text-align: center;
    position: relative;
}

.desktop .sub-menu {
    display: none;
    height: 400px;
}

.desktop .sub-menu a {
    transition: 0.3s;
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #000;
}

.desktop .sub-menu a:hover {
    color: var(--maincolor);
}

.desktop .sub-bg-wrap {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1000;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.desktop .sub-bg {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 400px;
    box-shadow: 0 10px 30px -10px #aaa;
    display: none;
    width: 100%;
}

@media (max-width: 767px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex !important;
        justify-content: end;
    }

    .paper-card>div {
        display: none;
    }

    .community-left {
        display: none;
    }

    .guide .circle {
        display: none;
    }

    .guide ul {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    .guide li {
        width: 100%;
    }

    .papers ul {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    .tab-content li>span {
        display: none;
    }
}

.mobile>i {
    font-size: 32px;
}

.mobile .menu i {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mobile .menu a {
    display: flex;
    width: 100%;
    padding: 5px;
    text-align: end;
    align-items: center;
    gap: 15px;
    justify-content: end;
}

.mobile .menu {
    padding: 15px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    border-bottom: 1px solid #ddd;
    overflow-y: scroll;
    max-height: 80vh
}

.mobile .sub-menu {
    display: none;
    font-weight: normal;
    font-size: 1rem;
}

.main-menu {
    border-bottom: 1px solid #ddd;
}

footer {
    margin-top: 30px;
    background-color: #2b2b2b;
    color: #fff;
    padding: 30px;
}

footer>div {
    gap: 15px;
    padding: 30px 0;
}