:root {
  --maincolor : #0076bc;
}
.container {
    max-width: 1340px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}
ul {
    margin: 0;
}
header {
    display: flex;
    border-bottom: 1px solid #ddd;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 999999;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 15px;
}

.logo img {
    max-height: 50px;
    width: 100%;
}

.navi {
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    align-items: end;
    gap: 15px;
}
.login a {
    font-size: 1rem;
    color: #666;
}
.login a:hover {
    text-decoration: underline;
}

.menu {
    font-weight: bold;
    width: 100%;
    display: flex;
}
.menu li:hover > a::after {
    transform: scaleX(100%);
}
.menu li > a::after {
    content: '';
    position: absolute;
    background-color: var(--maincolor);
    left: 0;
    top: 100%;
    width: 100%;
    transform-origin: center;
    transform: scaleX(0%);
    height: 3px;
    transition: 0.3s;
}
.menu li {
    display: block;
    flex: 1;
    text-align: center;
    position: relative;
}

.sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    z-index: -10;
    display: none;
}

.sub-menu a {
    transition: 0.3s;
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #000;
}
.sub-menu a:hover {
    color: var(--maincolor);
}

.sub-bg {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: -1000;
    height: auto;
}