:root {
  --maincolor : #0076bc;
}
.container {
    max-width: 1340px;
}
body {
    font-size: 0.75rem;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}
ul {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
}
button {
    background: none;
    border: none;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
}
.color-main {
    color: var(--maincolor);
}
.bgcolor-main {
    background-color: var(--maincolor);
}
header {
    display: flex;
    border-bottom: 1px solid #ddd;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 999999;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 20px;
}

.logo img {
    max-height: 50px;
    width: 100%;
}

.navi {
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    height: 100%;
    align-items: end;
    justify-content: space-between;
}
.login {
    margin: 10px;
}
.login * {
    color: #666;
    font-size: 0.75rem;
}
.login a:hover {
    text-decoration: underline;
}

.menu {
    font-weight: bold;
    width: 100%;
    display: flex;
}
.menu li:hover > a::after {
    transform: scaleX(100%);
}
.menu li > a::after {
    content: '';
    position: absolute;
    background-color: var(--maincolor);
    left: 0;
    top: 100%;
    width: 100%;
    transform-origin: center;
    transform: scaleX(0%);
    height: 3px;
    transition: 0.3s;
}
.menu li {
    display: block;
    padding-bottom: 5px;
    flex: 1;
    text-align: center;
    position: relative;
}

.sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border-right: 1px solid #ddd;
    z-index: -10;
    display: none;
    height: max-content;
    height: 250px;
}

.sub-menu a {
    transition: 0.3s;
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #000;
}
.sub-menu a:hover {
    color: var(--maincolor);
}

.sub-bg-wrap {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1000;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.sub-bg {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 300px;
    box-shadow: 0 10px 30px -10px #aaa;
    width: 100%;
}