:root {
    --maincolor: #3b5ebb;
    --accentcolor: #eeee00;
    --firstcolor: #333;
    --secondcolor: #ddd;
}
* {
    
}
/* margin */
.p1 {
    padding: 5px;
}

.p2 {
    padding: 10px;
}

.p3 {
    padding: 15px;
}

.p4 {
    padding: 30px;
}

.g1 {
    gap: 5px;
}

.g2 {
    gap: 10px;
}

.g3 {
    gap: 15px;
}

.g4 {
    gap: 30px;
}

.m1 {
    margin: 5px;
}

.m2 {
    margin: 10px;
}

.m3 {
    margin: 15px;
}

/* margin */
/* text */
h1 {
    font-size: clamp(1.6rem, 3vw, 4rem);
    word-break: keep-all;
    font-weight: bold;
}

h2 {
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

h4 {
    font-size: 1.2rem;
    font-weight: normal;
}

h5 {
    font-size: 1rem;
    font-weight: normal;
}
.tac {
    text-align: center;
}
/* text */
/* gird */
.grid {
    display: grid;
}

/* gird */
/* flex */
.flex {
    display: flex;
}

.f-center {
    justify-content: center;
    align-items: center;
}

.f-column {
    display: flex;
    flex-direction: column;
}

/* flex */
.container {
    max-width: 1340px;
}

.c-main {
    color: var(--maincolor);
}

.c-accent {
    color: var(--accentcolor);
}

.c-first {
    color: var(--firstcolor);
}

.c-second {
    color: var(--secondcolor);
}
.c-white {
    color: #fff;
}